body{
    margin-bottom: 53px;
}

h1{
    font-size: 35px;
    text-align: center;
}
.back-arrow{
    margin-top: 3.2rem;
}

a{
    color: black;
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 58px;
    padding-top: 5px !important;
    z-index: 10;
}

.content-container{
    padding: 10px 30px !important;
    margin: 15px 0 15px 0;
}

.wages-container{
    margin-top: 10px;
}

@media (min-width: 992px){
    .content-container{
        padding: 10px 30px !important;
        margin-top: 30px;
    }
    .wages-container{
        margin-top: 100px;
    }
}

.data-entry-button-container{
    padding: 0px !important;
    margin-top: 35px;
}

.data-entry-menu-container{
    margin-top: 0;
    height: 70vh;
    min-height: 425px;
}

.header-container > .row{
    margin:0;
}

.collapsible-body > p{
    margin-top:0px;
}

.table-breaker{
    height:5px !important;
}  

.totals-row{
    border-bottom: 2px solid rgba(0,0,0,0.20);
    border-top: 2px solid rgba(0,0,0,0.20);
}

.main-button{
    height: 25vh;
    min-height: 175px;
    max-height: 200px !important;
    margin: 0;
    padding: 0;
    min-width: 229px;
    max-width: 375px !important;
    width: 80vw;
}

@media (min-width: 1200px){
    .main-button{
        margin: 0 30px 0 30px;
    }
}

@media (min-height: 1200px) {
    .main-button{
        margin-top: 100px;
    }
}

.data-entry-icon{
    font-size: 50px !important;
    margin-top: 40px;
}

.data-entry-title{
    margin-top: 15px;
    font-size: 30px;
}

.messages-container{
    width: 100%;
    text-align: center;
    font-size: 18px;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px;
    transition: opacity 1s;
}
.messages-container > ul{
    margin: 0px;
}
.error-msg{
    border-color:rgb(227 22 22 / 66%);
    background-color: rgb(227 22 22 / 26%);
}
.success-msg{
    border-color: rgb(0 193 18 / 66%);
    background-color: rgb(0 193 18 / 26%);
}