

{% extends "entry_template.html" %}


{% block entry_title %}+ FUEL{% endblock %}

    {% block entry_form_title %}Add fuel:{% endblock %}
        {% block entry_form_questions %}
            <form method="post" action="{{ url_for(type+'.add_'+type, item_id=0, tab='entry') }}">
                {{ macros[type]('add', fuel, trucks, f) }}
            </form>
        {% endblock %}

    {% block entry_history_title %}Fuel entry history:{% endblock %}
        {% block collapsible_header %}{{item.truck.registration}} - {{f.display_date(item.date)}}{% endblock %}

        {% block collapsible_body %}
            <p>
                Fuel card: {{ item.fuel_card_name }}<br>
                Volume: {{ f.display_currency(item.fuel_volume) }} L<br>
                Cost: {{ f.format_currency(f.display_currency(item.fuel_cost)) }}
            </p>
        {% endblock %}
    
        {% block entry_history_questions scoped %}
            <form  method="POST" class="modal-trigger" action="{{ url_for(type+'.edit_'+type, item_id=item.id, tab='entry') }}">                                        
                {{ macros[type]('edit', item, trucks, f) }}                                        
            </form>
        {% endblock %}


            
 
    
        
