{% extends "std_template.html" %}


{% block standard_title %}DATA ENTRY{% endblock %}

    {% block standard_content %}
        <div class="data-entry-menu-container valign-wrapper">
            <div class="row center-align">
                <div class="col s12 xl4 data-entry-button-container">
                    <a href="{{ url_for('job.add_job', item_id=0, tab='entry') }}">
                        <div class="card-panel indigo darken-4 white-text">
                            <i class="large material-icons data-entry-icon row-1">playlist_add</i>
                            <h3 class="data-entry-title">Add Job</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl4 data-entry-button-container">
                    <a href="{{ url_for('day.add_day', item_id=0, tab='entry') }}">
                        <div class="card-panel indigo darken-4 white-text">
                            <i class="large material-icons data-entry-icon row-1">restore</i>
                            <h3 class="data-entry-title">Add Day End</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl4 data-entry-button-container">
                    <a href="{{ url_for('week.week', item_id=0, tab='entry') }}">
                        <div class="card-panel green darken-4 white-text">
                            <i class="large material-icons data-entry-icon row-1">date_range</i>
                            <h3 class="data-entry-title">Weekly entry</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('fuel.add_fuel', item_id=0, tab='entry') }}">
                        <div class="card-panel indigo darken-2 white-text">
                            <i class="large material-icons data-entry-icon row-2">local_gas_station</i>
                            <h3 class="data-entry-title">Add Fuel</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('payslip.add_payslip', item_id=0, tab='entry') }}">
                        <div class="card-panel indigo darken-2 white-text">
                            <i class="large material-icons data-entry-icon row-2">attach_money</i>
                            <h3 class="data-entry-title">Add Payslip</h3>
                        </div>
                    </a>
                </div>
                <!-- <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('driver.add_driver', item_id=0, tab='entry') }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon row-3">person_add</i>
                            <h3 class="data-entry-title">Add Driver</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('truck.add_truck', item_id=0, tab='entry') }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon row-3">local_shipping</i>
                            <h3 class="data-entry-title">Add Truck</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('expense.add_expense', item_id=0, tab='entry') }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon row-3">none</i>
                            <h3 class="data-entry-title">Add Expense</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('analysis.weekly_analysis') }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon row-3">none</i>
                            <h3 class="data-entry-title">Analysis</h3>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    {% endblock %}

    {% block data_entry %}active{% endblock %}
