from datetime import datetime
<!----------------------------- navigation macros -->

{% macro nav_link(name, endpoint) %}
        {% if ((request.endpoint in varargs) or (request.endpoint == endpoint)) %}
            <li class="tab active"><a class="menu-tab-link" href="{{ url_for(endpoint) }}">{{ name }}</a></li>
        {% else %}
            <li class ="tab"><a class="menu-tab-link" href="{{ url_for(endpoint) }}">{{ name }}</a></li>
        {% endif %}
{% endmacro %}




<!----------------------------- question list macros -->

{% macro driver(type, driver, trucks, f) %}
    <!-- first name -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="first_name" name="first_name" type="text" required
            {% if driver.first_name is defined %} 
                value="{{ driver.first_name }}" 
            {% endif %}
            >
            <label for="first_name">First name: {{driver.truck_id}}</label>
        </div>
    </div>
    
    <!-- last name -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="last_name" name="last_name" type="text" required
                {% if driver.last_name is defined %} 
                    value="{{ driver.last_name }}" 
                {% endif %}
                >
            <label for="last_name">Last name:</label>
        </div>
    </div>

    <!-- basic wage -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="basic_wage" name="basic_wage" type="number" step="0.01" required
                    {% if driver.basic_wage is defined and type == "edit" %} 
                        value="{{'%0.2f' % f.display_currency(driver.basic_wage) }}" 
                    {% elif driver.basic_wage is defined %} 
                        value="{{driver.basic_wage}}" 
                    {% endif %}
                    >
            <label for="basic_wage">Basic wage (£):</label>
        </div>
    </div>

    <!-- Daily-bonus threshold -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="daily_bonus_threshold" name="daily_bonus_threshold" type="number" step="0.01" required
                    {% if driver.daily_bonus_threshold is defined and type == "edit" %} 
                        value="{{'%0.2f' % f.display_currency(driver.daily_bonus_threshold) }}" 
                    {% elif driver.daily_bonus_threshold is defined %} 
                        value="{{driver.daily_bonus_threshold}}" 
                    {% endif %}
                    >
            <label for="daily_bonus_threshold">Daily-bonus threshold (£):</label>
        </div>
    </div>

    <!-- Daily-bonus percentage -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="daily_bonus_percentage" name="daily_bonus_percentage" type="number" step="0.01" required
                {% if driver.daily_bonus_percentage is defined and type == "edit" %} 
                    value="{{'%0.2f' % f.display_percentage(driver.daily_bonus_percentage) }}" 
                {% elif driver is defined %}
                    value="{{driver.daily_bonus_percentage}}"
                {% endif %}
                >
            <label for="daily_bonus_percentage">Daily-bonus percentage (%):</label>
        </div>
    </div>

    <!-- Weekly-bonus threshold -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="weekly_bonus_threshold" name="weekly_bonus_threshold" type="number" step="0.01" required
                    {% if driver.weekly_bonus_threshold is defined and type == "edit" %} 
                        value="{{'%0.2f' % f.display_currency(driver.weekly_bonus_threshold) }}" 
                    {% elif driver.weekly_bonus_threshold is defined %} 
                        value="{{driver.weekly_bonus_threshold}}" 
                    {% endif %}
                    >
            <label for="weekly_bonus_threshold">Weekly-bonus threshold (£):</label>
        </div>
    </div>

    <!-- Weekly-bonus percentage -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="weekly_bonus_percentage" name="weekly_bonus_percentage" type="number" step="0.01" required
                {% if driver.weekly_bonus_percentage is defined and type == "edit" %} 
                    value="{{'%0.2f' % f.display_percentage(driver.weekly_bonus_percentage) }}" 
                {% elif driver is defined %}
                    value="{{driver.weekly_bonus_percentage}}"
                {% endif %}
                >
            <label for="weekly_bonus_percentage">Weekly-bonus percentage (%):</label>
        </div>
    </div>
    
    <!-- overnight -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="overnight_value" name="overnight_value" type="number" step="0.01" required
                {% if driver.overnight_value is defined and type == "edit" %} 
                    value="{{'%0.2f' % f.display_currency(driver.overnight_value) }}" 
                {% elif driver is defined %}
                    value="{{driver.overnight_value}}"
                {% endif %}
                >
            <label for="overnight_value">Overnight value (£):</label>
        </div>
    </div>

    <!-- preferred truck -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->  
            <select name="truck_id" id="truck_id" class="validate" required>
                {% if driver.truck_id is defined %}
                    {% for truck in trucks %}
                        {% if driver.truck_id == truck.id %}
                            <option value="{{ truck.id }}" selected>{{ truck.registration }}</option>
                        {% else %}
                            <option value="{{ truck.id }}">{{ truck.registration }}</option>
                        {% endif %}
                    {% endfor %}        
                {% else %}
                    <option value="" disabled selected></option>
                    {% for truck in trucks %}
                            <option value="{{ truck.id }}" >{{ truck.registration }}</option>
                    {% endfor %}   
                {% endif %}
            </select>
            <label for="truck_id">Preferred Truck:</label>
        </div>
    </div>


    <!-- submit button -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large submit">
                Submit <i class="fas fa-edit right"></i>
            </button>
        </div>
    </div>
{% endmacro %}



{% macro truck(type, truck, f) %}
    <!-- reg -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="registration" name="registration" type="text" required
            {% if truck.registration is defined %} 
                value="{{ truck.registration }}" 
            {% endif %}
            >
            <label for="registration">Registration:</label>
        </div>
    </div>

    <!-- make -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="make" name="make" type="text" required
                    {% if truck.make is defined %} 
                        value="{{truck.make}}" 
                    {% endif %}
                    >
            <label for="make">Make:</label>
        </div>
    </div>

    <!-- model -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="model" name="model" type="text" required
                    {% if truck.model is defined %} 
                        value="{{truck.model}}" 
                    {% endif %}
                    >
            <label for="model">Model:</label>
        </div>
    </div>
    
    <!-- submit button -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large submit">
                Submit <i class="fas fa-edit right"></i>
            </button>
        </div>
    </div>
{% endmacro %}



{% macro day(type, day, components, f) %}
    <!-- date -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->
            <input id="date" name="date"  type="text" class="datepicker" required
                {% if day is defined and type == 'edit' %} 
                    value="{{ f.display_date(day.date) }}" 
                {% elif day is defined %}
                    value="{{ day.date }}"
                {% endif %}
                >
            <label for="date">Date:</label>
        </div>
    </div>

    <!-- driver -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->  
            <select name="driver_id" id="driver_id" class="validate" required>
                {% if day.driver_id is defined %}
                    {% for driver in components.drivers %}
                        {% if day.driver_id|int == driver.id|int %}
                            <option value="{{ driver.id }}" selected>{{ driver.full_name }}</option>
                        {% else %}
                            <option value="{{ driver.id }}">{{ driver.full_name }}</option>
                        {% endif %}
                    {% endfor %}        
                {% else %}
                    <option value="" disabled selected>Please select</option>
                    {% for driver in components.drivers %}
                        <option value="{{ driver.id }}" >{{ driver.full_name }}</option>
                    {% endfor %}   
                {% endif %}
            </select>
            <label for="driver_id">Driver:</label>
        </div>
    </div>

    <!-- truck -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->  
            <select name="truck_id" id="truck_id" >
                {% if day != {} %}
                    
                    {% for truck in components.trucks %}
                        {% if day.truck == truck %}
                            <option value="{{ truck.id }}" selected>{{ truck.registration }}</option>
                        {% elif day.truck_id|int == truck.id|int %}
                            <option value="{{ truck.id }}" selected>{{ truck.registration }}</option>
                        {% else %}
                            <option value="{{ truck.id }}">{{ truck.registration }}</option>
                        {% endif %}
                    {% endfor %}        
                {% else %}
                    <option value="" disabled selected>Please select</option>
                    {% for truck in components.trucks %}
                            <option value="{{ truck.id }}" >{{ truck.registration }}</option>
                    {% endfor %}   
                {% endif %}
            </select>
            <label for="truck_id">Truck:</label>
        </div>
    </div>

    <!-- status -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->  
            <select name="status" id="status" class="validate" required>
                <option value="working" selected>Working</option>
                <option value="holiday" >Holiday</option>
                <option value="absent" >Absent</option>
            </select>
            <label for="status">Select status:</label>
        </div>
    </div>

    <!-- overnight -->
    <div class="row">
        <div class="input-field col s12">
            <div class="switch">
                <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
                {% if day != {} %}
                    <label for="overnight_{{ type }}_{{ day.id }}">
                        {% if day.overnight == True or day.overnight == "on" %}
                            <input id="overnight_{{ type }}_{{ day.id }}" name="overnight" type="checkbox" checked>
                        {% else %}
                            <input id="overnight_{{ type }}_{{ day.id }}" name="overnight" type="checkbox">
                        {% endif %}
                        <span class="lever"></span>
                        Overnight
                    </label>
                {% else %}
                    <label for="overnight_{{ type }}">
                        <input id="overnight_{{ type }}" name="overnight" type="checkbox" checked>
                        <span class="lever"></span>
                        Overnight
                    </label>                          
                {% endif %}
            </div>
        </div>
    </div>

    <!-- fuel -->
    <div class="row">
        <div class="input-field col s12">
            <div class="switch">
                <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
                {% if day != {} %}
                    <label for="fuel_{{ type }}_{{ day.id }}">
                        {% if day.fuel == True or day.fuel == "on" %}
                            <input id="fuel_{{ type }}_{{ day.id }}" name="fuel" type="checkbox" checked>
                        {% else %}
                            <input id="fuel_{{ type }}_{{ day.id }}" name="fuel" type="checkbox">
                        {% endif %}
                        <span class="lever"></span>
                        Fuel
                    </label>
                {% else %}
                    <label for="fuel_{{ type }}">
                        <input id="fuel_{{ type }}" name="fuel" type="checkbox">
                        <span class="lever"></span>
                        Fuel
                    </label>                          
                {% endif %}
            </div>
        </div>
    </div>

    <!-- start mileage -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="start_mileage" name="start_mileage" type="number" step="0.01"
                {% if day.start_mileage is defined %}
                    {% if type == "edit" and day.start_mileage == 0 %}
                        value="{{ none }}"
                    {% elif type == "edit" %}
                        value="{{ '%0.2f' % f.display_currency(day.start_mileage) }}" 
                    {% else %}
                        value="{{ day.start_mileage }}" 
                    {% endif %}
                {% else %}
                    value="{{ none }}"
                {% endif %}
                >
            <label for="start_mileage">Start mileage:</label>
        </div>
    </div>

    <!-- end mileage -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="end_mileage" name="end_mileage" type="number" step="0.01"
                {% if day.end_mileage is defined %}
                    {% if type == "edit" and day.end_mileage == 0 %}
                        value="{{ none }}"
                    {% elif type == "edit" %}
                        value="{{ '%0.2f' % f.display_currency(day.end_mileage) }}" 
                    {% else %}
                        value="{{ day.end_mileage }}" 
                    {% endif %}
                {% else %}
                    value="{{ none }}"
                {% endif %}
                >
            <label for="end_mileage">End mileage:</label>
        </div>
    </div>

    <!-- additional earned -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="additional_earned" name="additional_earned" type="number" step="0.01"
                {% if day.additional_earned is defined %}
                    {% if type == "edit" and day.additional_earned == 0 %}
                        value="{{ none }}"
                    {% elif type == "edit" %}
                        value="{{ '%0.2f' % f.display_currency(day.additional_earned) }}" 
                    {% else %}
                        value="{{ day.additional_earned }}" 
                    {% endif %}
                {% else %}
                    value="{{ none }}"
                {% endif %}
                >
            <label for="additional_earned">Additional earned (£):</label>
        </div>
    </div>

    <!-- additional wages -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="additional_wages" name="additional_wages" type="number" step="0.01"
                {% if day.additional_wages is defined %}
                    {% if type == "edit" and day.additional_wages == 0 %}
                        {# No value here #}
                    {% elif type == "edit" %}
                        value="{{ '%0.2f' % f.display_currency(day.additional_wages) }}" 
                    {% else %}
                        value="{{ day.additional_wages }}" 
                    {% endif %}
                {% else %}
                    {# No value here #}
                {% endif %}
                > 
            <label for="additional_wages">Additional wages (£):</label>
        </div>
    </div>

    <!-- submit button -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large submit">
                Submit <i class="fas fa-edit right"></i>
            </button>
        </div>
    </div>
{% endmacro %}



{% macro job(type, job, components, f) %}
    <!-- date -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->
            <input id="date_cd" name="date_cd"  type="text" class="datepicker" required
                {% if job is defined and type == 'edit' %} 
                    {% for day in components.days %}
                        {% if job.day_id == day.id %}
                            value="{{ f.display_date(day.date) }}"
                        {% endif %}
                    {% endfor %}
                {% elif job is defined %}
                    value="{{ job.date_cd}}"
                {% endif %}
                >
            <label for="date_cd">Date:</label>
        </div>
    </div>

    <!-- driver -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->  
            <select name="driver_id" id="driver_id" class="validate" required>
                <!-- Check if job object exists (will only exist for edit and if form has an error) -->
                {% if job != {} %}
                    {% for driver in components.drivers %}
                        <!-- Check if form has been repopulated due to an error -->
                        {% if job.driver_id is defined %}
                            {% if job.driver_id|string == driver.id|string %}
                                <option value="{{ driver.id }}" selected>{{ driver.full_name }}</option>
                            {% else %}
                                <option value="{{ driver.id }}">{{ driver.full_name }}</option>
                            {% endif %}
                        <!-- Else, we are populating an edit form (job.driver_id is not available in this
                         case and we must loop through the list of day entries.) -->
                        {% else %}
                            {% for day in components.days %}
                                {% if job.day_id == day.id %}
                                    {% if day.driver_id|int == driver.id|int %}
                                        <option value="{{ driver.id }}" selected>{{ driver.full_name }}</option>
                                    {% elif job.driver_id == driver.id %}
                                        <option value="{{ driver.id }}" selected>{{ driver.full_name }}</option>
                                    {% else %}
                                        <option value="{{ driver.id }}">{{ driver.full_name }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}        
                {% else %}
                    <option value="" disabled selected>Please select</option>
                    {% for driver in components.drivers %}
                        <option value="{{ driver.id|int }}" >{{ driver.full_name }}{{ job.day_id }}{{ day.id }}</option>
                    {% endfor %}   
                {% endif %}
            </select>
            <label for="driver_id">Driver:</label>
        </div>
    </div>

    <!-- earned -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="earned" name="earned" type="number" step="0.01" step="0.01" required
                {% if job is defined and type == 'edit' %} 
                    value="{{'%0.2f' % f.display_currency(job.earned) }}" 
                {% elif job is defined %}
                    value="{{ job.earned }}"
                {% endif %}
            >    
            <label for="earned">Earned (£):</label>
        </div>
    </div>

    <!-- collection -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="collection" name="collection" type="text" required
                    {% if job.collection is defined %} 
                        value="{{ job.collection }}" 
                    {% endif %}
                    >
            <label for="collection">Collection:</label>
        </div>
    </div>

    <!-- delivery -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="delivery" name="delivery" type="text" required
                    {% if job.delivery is defined %} 
                        value="{{ job.delivery }}" 
                    {% endif %}
                    >
            <label for="delivery">Delivery:</label>
        </div>
    </div>

    <!-- notes -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <select name="notes" id="notes" class="validate">
                {% if job.notes is defined %} 
                    <option value="{{ job.notes }}" selected>{{ job.notes }}</option>
                {% else %}
                    <option value="" disabled selected>None</option>
                {% endif %}

                <option value="Multi-drop">Multi-drop</option>
                <option value="Cancellation" >Cancellation</option>
                <option value="Return" >Return</option>
                <option value="Co-load" >Co-load</option>
                <option value="Waiting time" >Waiting time</option>
            </select>
            <label for="notes">Notes:</label>
        </div>
    </div>

    {% if type == 'add' %}
        <!-- split -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
                    <label for="split">
                            {% if job.split == 'on' %}
                                <input id="split" name="split" type="checkbox" checked>
                            {% else %}
                                <input id="split" name="split" type="checkbox">
                            {% endif %}
                        
                        <span class="lever split-lever"></span>
                        Split
                    </label>                          
                </div>
            </div>
        </div>

        <!-- next working date -->
        <!-- <div class="row"> -->
            <!-- <div class="input-field col s12 nwd-container hide"> -->
                <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->
                <!-- <input id="date_nwd" name="date_nwd"  type="text" class="datepicker"
                    {% if job is defined %}
                        value="{{ job.date_nwd}}"
                    {% endif %}
                    >
                <label for="date_nwd">Next working date:</label>
            </div>
        </div> -->
    {% endif %}

    <!-- submit button -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large submit">
                Submit <i class="fas fa-edit right"></i>
            </button>
        </div>
    </div>
{% endmacro %}



{% macro payslip(type, payslip, drivers, f) %}
    <!-- driver -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->  
            <select name="driver_id" id="driver_id" class="validate" required>
                {% if payslip.driver_id is defined %}
                    {% for driver in drivers %}
                        {% if payslip.driver_id|int == driver.id|int %}
                            <option value="{{ driver.id }}" selected>{{ driver.full_name }}</option>
                        {% else %}
                            <option value="{{ driver.id }}">{{ driver.full_name }}</option>
                        {% endif %}
                    {% endfor %}        
                {% else %}
                    <option value="" disabled selected>Please select</option>
                    {% for driver in drivers %}
                            <option value="{{ driver.id }}" >{{ driver.full_name }}</option>
                    {% endfor %}   
                {% endif %}
            </select>
            <label for="driver_id">Select Driver:</label>
        </div>
    </div>

    <!-- date -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->
            <input id="date" name="date"  type="text" class="datepicker" required
                {% if payslip is defined and type == 'edit' %} 
                    value="{{ f.display_date(payslip.date) }}" 
                {% elif payslip is defined %}
                    value="{{ payslip.date}}"
                {% endif %}
                >
            <label for="date">Date:</label>
        </div>
    </div>

    <!-- total wage -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="total_wage" name="total_wage" type="number" step="0.01" required
                    {% if payslip.total_wage is defined and type == "edit" %} 
                        value="{{'%0.2f' % f.display_currency(payslip.total_wage) }}" 
                    {% elif payslip.total_wage is defined %} 
                        value="{{payslip.total_wage}}" 
                    {% endif %}
                    >
            <label for="total_wage">Total wage (£):</label>
        </div>
    </div>

    <!-- total cost to employer -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="total_cost_to_employer" name="total_cost_to_employer" type="number" step="0.01" required
                    {% if payslip.total_cost_to_employer is defined and type == "edit" %} 
                        value="{{'%0.2f' % f.display_currency(payslip.total_cost_to_employer) }}" 
                    {% elif payslip.total_cost_to_employer is defined %} 
                        value="{{payslip.total_cost_to_employer}}" 
                    {% endif %}
                    >
            <label for="total_cost_to_employer">Total cost to employer (£):</label>
        </div>
    </div>

    <!-- submit button -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large submit">
                Submit<i class="fas fa-edit right"></i>
            </button>
        </div>
    </div>
{% endmacro %}



{% macro fuel(type, fuel, trucks, f) %}
    <!-- date -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->
            <input id="date" name="date"  type="text" class="datepicker" required
                {% if fuel is defined and type == 'edit' %} 
                    value="{{ f.display_date(fuel.date) }}" 
                {% elif fuel is defined %}
                    value="{{ fuel.date}}"
                {% endif %}
                >
            <label for="date">Date:</label>
        </div>
    </div>

    <!-- trucks -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->  
            <select name="truck_id" id="truck_id" class="validate" required>
                {% if fuel.truck_id is defined %}
                    {% for truck in trucks %}
                        {% if fuel.truck == truck %}
                            <option value="{{ truck.id }}" selected>{{ truck.registration }}</option>
                        {% else %}
                            <option value="{{ truck.id }}">{{ truck.registration }}</option>
                        {% endif %}
                    {% endfor %}        
                {% else %}
                    <option value="" disabled selected>Please select</option>
                    {% for truck in trucks %}
                            <option value="{{ truck.id }}" >{{ truck.registration }}</option>
                    {% endfor %}   
                {% endif %}
            </select>
            <label for="truck_id">Truck:</label>
        </div>
    </div>

    <!-- fuel card name -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <select name="fuel_card_name" id="fuel_card_name" class="validate" required>
                {% if fuel.fuel_card_name is defined %} 
                    <option value="{{ fuel.fuel_card_name }}" selected>{{ fuel.fuel_card_name }}</option>
                {% endif %}
                <option value="UK Fuels">UK Fuels</option>
                <option value="Silvey" >Silvey</option>
                <option value="The Fuel Card Company" >The Fuel Card Company</option>
            </select>
            <label for="fuel_card_name">Fuel card:</label>
        </div>
    </div>

    <!-- fuel volume -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="fuel_volume" name="fuel_volume" type="number" step="0.01" required
                    {% if fuel.fuel_volume is defined and type == "edit" %} 
                        value="{{'%0.2f' % f.display_currency(fuel.fuel_volume) }}" 
                    {% elif fuel.fuel_volume is defined %} 
                        value="{{fuel.fuel_volume}}" 
                    {% endif %}
                    >
            <label for="fuel_volume">Fuel volume (L):</label>
        </div>
    </div>

    <!-- fuel cost -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="fuel_cost" name="fuel_cost" type="number" step="0.01" required
                    {% if fuel.fuel_cost is defined and type == "edit" %} 
                        value="{{'%0.2f' % f.display_currency(fuel.fuel_cost) }}" 
                    {% elif fuel.fuel_cost is defined %} 
                        value="{{fuel.fuel_cost}}" 
                    {% endif %}
                    >
            <label for="fuel_cost">Fuel cost (£):</label>
        </div>
    </div>

    <!-- submit button -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large submit">
                Submit <i class="fas fa-edit right"></i>
            </button>
        </div>
    </div>
{% endmacro %}



{% macro running_cost(type, running_cost, f) %}
    <!-- submit button -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large submit">
                Submit <i class="fas fa-edit right"></i>
            </button>
        </div>
    </div>
{% endmacro %}

{% macro truck_card(truck_id, data, f) %}
    <div class="col s12 m4">
        <div class="card hoverable wages-card small">
            <div class="card-content">
                <span class="card-title activator"><h5>{{ data.truck.registration }}</h5>
                    <!-- <i class="material-icons right">more_vert</i> -->
                    <div class="divider"></div>
                </span>
                <br>
                <p class="wages-calc-card-text">Total volume of fuel: {{ data.total_fuel_volume }} L</p>
                <p class="wages-calc-card-text">Fuel Cost: {{ f.format_currency(data.total_fuel_cost) }}</p>
                <p class="wages-calc-card-text">Mileage: {{ data.total_mileage | int }} miles</p><br>
                <p class="wages-calc-card-text"><strong><em>Fuel Economy: {{ f.format_currency(data.fuel_economy) }}</em></strong></p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro driver_card(driver_id, data, f) %}
    <div class="col s12 m4">
        <div class="card hoverable wages-card small">
            <div class="card-content">
                <span class="card-title activator"><h5>{{ data.driver.full_name }}</h5>
                    <!-- <i class="material-icons right">more_vert</i> -->
                    <div class="divider"></div>
                </span>
                <br>
                {# if data.day_entries|length >= 5 #}
                <p class="wages-calc-card-text">Total earned: {{ f.df_currency(data.weekly_total_earned) }}</p>
                <p class="wages-calc-card-text"><strong>Extras: {{ f.df_currency(data.weekly_extras) }}</strong></p>
                {# else #}
                <!-- <p class="wages-calc-card-text red-text">There are {{data.day|length}} days recorded for this week.</p> -->
                <!-- <p><a href="{{ url_for('day.add_day', item_id=0, tab='history') }}" class="">Add day entries</a></p>
                <p><a href="{{ url_for('job.add_job', item_id=0, tab='entry', user_confirm='False') }}" class="">Add job entries</a></p> -->

                {# endif #}
            </div>
            <div class="card-action">
                <a href="#modal_{{ driver_id }}" class="waves-effect waves-white blue darken-2 white-text btn-flat modal-trigger wc-button"><i class="material-icons tiny left">today</i>Days</a>
                <a href="#modal_timetable_{{ driver_id }}" class="waves-effect waves-white blue darken-2 white-text btn-flat modal-trigger wc-button"><i class="material-icons tiny left">list</i>Jobs</a>
            </div>
        </div>
    </div>

    <!-- WEEK BREAKDOWN MODAL -->
    <div id="modal_{{ driver_id }}" class="modal">
        <div class="modal-content">
            <h4>{{ data.driver.full_name }}'s breakdown</h4>
            <p class=""><a href="{{ url_for('day.add_day', item_id=0, tab='history') }}">Click here to edit/delete history.</a></p>
            <table class="centered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Earned</th>
                        <th>Daily bonus</th>
                        <th>Overnight</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for day in data.day_entries %}    
                    <tr>
                        <td>{{ f.display_date(day.date) }}</td>
                        <td>{{ f.df_currency(day.calculate_total_earned()) }}</td>
                        <td>{{ f.df_currency(day.calculate_daily_bonus(data.driver)) }}</td>
                        <td>{% if day.overnight %}
                            <i class="material-icons green-text">check</i> 
                            {% else %}
                            <i class="material-icons">remove</i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="table-breaker">
                    </tr>
                    <tr class="totals-row">
                        <td><em>Totals:</em></td>
                        <td><em>{{ f.df_currency(data.weekly_total_earned) }}</em></td>
                        <td><em>{{ f.df_currency(data.weekly_total_bonus_wage) }}</em></td>
                        <td><em>{{ f.df_currency(data.weekly_total_overnight) }}</em></td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <!-- WEEK TIMETABLE MODAL -->
    <div id="modal_timetable_{{ driver_id }}" class="modal">

        <div class="modal-content">
            <h4>{{ data.driver.full_name }}'s timetable</h4>
            <p class=""><a href="{{ url_for('job.add_job', item_id=0, tab='history', user_confirm='False') }}">Click here to edit/delete history.</a></p>
            <table class="centered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Collection</th>
                        <th>Delivery</th>
                        <th>Earned</th>
                        <th>Split?</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for job in data.job_entries %}    
                    <tr>
                        <td>{{ f.display_date(job.day.date) }}</td>
                        <td>{{ job.collection | capitalize }}</td>
                        <td>{{ job.delivery | capitalize }}</td>
                        <td>{{ f.df_currency(job.earned) }}</td>
                        <td>{% if job.split %}
                            <i class="material-icons green-text">check</i> 
                            {% else %}
                            <i class="material-icons">remove</i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="table-breaker">
                    </tr>

                </tbody>
            </table> 
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

{% endmacro %}

















