{% extends "std_template.html" %}


{% block standard_title %}WAGES CALCULATOR{% endblock %}

{% block standard_content %}
<div class="row">
    {% for driver_id, data in driver_data.items() %}
    <div class="col s12 m4">
    <div class="card hoverable">
        <div class="card-content">
            <span class="card-title"><h4>{{ data.driver.full_name }}</h4></span>
            <p>EXTRAS: {{£1,234}}</p>
        </div>
        <div class="card-action">
            <a href="#" class="valign-wrapper">
                See Days <i class="material-icons wc-card-link">open_in_new</i>
            </a>
        </div>
    </div>
</div>
    {% if loop.index % 3 == 0 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>

{% endblock %}