{% extends "std_template.html" %}


{% block standard_title %}WAGES CALCULATOR{% endblock %}

{% block standard_content %}
<h6>For week commencing: {{f.display_date( start_date)}} </h6>
<br>
<div class="row">
    {% for driver_id, data in driver_data.items() %}

    {{ macros.driver_card(driver_id, data, f) }}

    {% if loop.index % 3 == 0 %}
</div>
<div class="row">
    {% endif %}

    {% endfor %}
</div>


{% endblock %}

{# block additional_js %}
<script src="{{ url_for('static', filename='js/deductions.js') }}"></script>
{% endblock #}