{% extends "std_template.html" %}


{% block standard_title %}WAGES CALCULATOR{% endblock %}

{% block standard_content %}
<h6>For week commencing: {{f.display_date( start_date)}} </h6>
<br>
<div class="row">
    
    {% for driver_id, data in driver_data.items() %}
    <div class="col s12 m4">
    <div class="card hoverable wages-card small">
        <div class="card-content">
            <span class="card-title activator"><h5>{{ data.driver.full_name }}</h5><i class="material-icons right">more_vert</i></span>
            <br>
            {% if data.day_entries|length >= 5 %}
            <p class="wages-calc-card-text">Extras: {{ f.df_currency(data.weekly_extras) }}</p>
            {% else %}
            <p class="wages-calc-card-text red-text">Some days are missing.</p>
            <p><a href="{{ url_for('day.add_day', item_id=0, tab='history') }}" class="">Add day entries</a></p>
            <p><a href="{{ url_for('job.add_job', item_id=0, tab='entry', user_confirm='False') }}" class="">Add job entries</a></p>

            {% endif %}
        </div>
        <div class="card-action">
            <a href="#modal_{{ driver_id }}" class="waves-effect waves-orange black-text btn-flat modal-trigger"><i class="material-icons tiny right">open_in_new</i>BREAKDOWN</a>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
</div>

    {% if loop.index % 3 == 0 %}
</div>
<div class="row">
    {% endif %}
<!-- WEEK BREAKDOWN MODAL -->
<div id="modal_{{ driver_id }}" class="modal">
    <div class="modal-content">
        <p class=""><a href="{{ url_for('day.add_day', item_id=0, tab='history') }}">Click here to edit/delete history.</a></p>
        <table class="centered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Earned</th>
                    <th>Daily bonus</th>
                    <th>Overnight</th>
                </tr>
            </thead>
    
            <tbody>
                {% for day in data.day_entries %}    
                <tr>
                    <td>{{ f.display_date(day.date) }}</td>
                    <td>{{ f.df_currency(day.calculate_total_earned()) }}</td>
                    <td>{{ f.df_currency(day.calculate_daily_bonus(data.driver)) }}</td>
                    <td>{% if day.overnight %}
                        <i class="material-icons green-text">check</i> 
                        {% else %}
                        <i class="material-icons">remove</i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr class="table-breaker">
                </tr>
                <tr class="totals-row">
                    <td><em>Totals:</em></td>
                    <td><em>{{ f.df_currency(data.weekly_total_earned) }}</em></td>
                    <td><em>{{ f.df_currency(data.weekly_total_bonus_wage) }}</em></td>
                    <td><em>{{ f.df_currency(data.weekly_total_overnight) }}</em></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

    {% endfor %}
</div>


{% endblock %}