

{% extends "entry_template.html" %}


{% block entry_title %}+ DRIVER{% endblock %}

    {% block entry_form_title %}Add a driver:{% endblock %}
        {% block entry_form_questions %}
            <form method="post" action="{{ url_for('add_'+type, item_id=0, tab='entry') }}">
                {{ macros[type]('add', driver, trucks, f) }}
            </form>
        {% endblock %}

    {% block entry_history_title %}Driver entry history:{% endblock %}
        {% block collapsible_header %}{{ item.full_name }}{% endblock %}

        {% block collapsible_body %}
            <p>
                Basic wage: {{ f.format_currency(f.currency_to_web(item.basic_wage)) }}<br>
                Daily bonus threshold: {{ f.format_currency(f.currency_to_web(item.daily_bonus_threshold)) }}<br>
                Daily bonus percentage: {{ f.format_percentage(f.percentage_to_web(item.daily_bonus_percentage)) }}<br>
                Weekly bonus threshold: {{ f.format_currency(f.currency_to_web(item.weekly_bonus_threshold)) }}<br>
                Weekly bonus percentage: {{ f.format_percentage(f.percentage_to_web(item.weekly_bonus_percentage)) }}<br>
                Overnight: {{ f.format_currency(f.currency_to_web(item.overnight_value)) }}<br>
            </p>
        {% endblock %}
    
        {% block entry_history_questions scoped %}
            <form method="POST" class="modal-trigger" action="{{ url_for('edit_'+type, item_id=item.id, tab='history') }}">                                        
                {{ macros[type]('edit', item, trucks, f) }}                                        
            </form>
        {% endblock %}


            
 
    
        
