

{% extends "entry_template.html" %}


{% block entry_title %}+ DRIVER{% endblock %}

    {% block entry_form_title %}Add a driver:{% endblock %}
        {% block entry_form_questions %}
            <form method="post" action="{{ url_for('add_driver', item_id=0, tab='entry') }}">
                {{ macros[type]('add', driver, f) }}
            </form>
        {% endblock %}

    {% block entry_history_title %}Driver entry history:{% endblock %}
        {% block collapsible_header %}{{ item.full_name }}{% endblock %}

        {% block collapsible_body %}
            <p>
                Date joined: {{ f.date_to_web(item.start_date) }}<br>
                Basic wage: {{ f.format_currency(f.currency_to_web(item.basic_wage)) }}<br>
                Bonus percentage: {{ f.format_percentage(f.percentage_to_web(item.bonus_percentage)) }}
            </p>
        {% endblock %}
    
        {% block entry_history_questions scoped %}
            <form class="col s12" method="POST" class="modal-trigger" action="{{ url_for('edit_'+type, item_id=item.id, tab='history') }}">                                        
                {{ macros[type]('edit', item, f) }}                                        
            </form>
        {% endblock %}


            
 
    
        
