{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <title>Wages Calculator</title>
</head>
<body>
    <header>
        <div class="container header-container">
            <div class="row ">
                {% block header %}
                {% endblock %}
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <nav>
            <ul class="tabs-fixed-width tabs">
                {{ macros.nav_link('DATA ENTRY', 'home', 'add_day_end', 'add_driver') }}
                {{ macros.nav_link('WAGES CALCULATOR', 'wages_calculator') }}
            </ul>
        </nav>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    {% if driver_id is defined and driver_id > 0 %}
        <script>
          
            document.addEventListener('DOMContentLoaded', function() {
                let modalEdit = document.querySelector('#modal_edit_{{driver_id}}');
                M.Modal.init(modalEdit).open();
            });
        </script>   
    {% elif day_id is defined and day_id > 0 %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                let modalEdit = document.querySelector('#modal_edit_{{day_id}}');
                M.Modal.init(modalEdit).open();
            });
        </script>
    {% endif %}

</body>
</html>