<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Wages Calculator</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="row">
                {% block header %}
                {% endblock %}
            </div>
        </div>
        <div class="main">
            <div class="row">
                {% block main %}
                {% endblock %}
            </div>
        </div>
        <footer>
            <nav>
                <ul class="tabs-fixed-width tabs">
                    <li class ="tab"><a href="">DATA ENTRY</a></li>
                    <li class ="tab"><a href="">WAGES CALCULATOR</a></li>
                </ul>
            </nav>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>