{% extends "entry_template.html" %}

{% block entry_title %}+ Driver{% endblock %}

{% block entry_form_title %}Add a driver:{% endblock %}
{% block entry_form %}
    <form action="">
        {{ macros.driver_questions('add', driver) }}
    </form>
{% endblock %}

{% block entry_history_title %}Driver entry history:{% endblock %}
{% block entry_history %}
    <ul class="collapsible">
        {% for driver in drivers %}
            <li>
                <!-- collapsible header -->
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>
                    <strong>{{- driver.first_name -}} {{- driver.second_name -}}</strong>
                </div>
                <!-- collapsible-body -->
                <div class="collapsible-body">
                    Date joined: {{- driver.start_date -}}
                    Base wage: £{{- driver.base_wage -}}
                    Bonus percentage: {{- driver.bonus_percentage -}}%
                </div>
                <!-- buttons -->
                <a href="#modal_edit_{{ driver.id }}" class="btn green accent-4 modal-trigger">Edit</a>
                <a href="#modal_delete_{{ driver.id }}" class="btn red modal-trigger">Delete</a>

                <!-- Delete entry modal -->
                <div id="modal_delete_{{ driver.id }}" class="modal">
                    <div class="modal-content">
                        <h4>Delete Driver?</h4>
                        <p>The driver, {{ driver.first_name }} will be deleted permanently.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_driver', driver_id=driver.id) }}" class="btn red">Delete</a>
                        <a href="" class="modal-close btn grey">Cancel</a>
                    </div>
                </div>

                <!-- Edit modal -->
                <div id="modal_edit_{{ driver.id }}" class="modal">
                    <div class="modal-content">
                    <h3 class="center-align">Edit Driver</h3>
            
                    <div class="row">
                        <form class="col s12" method="POST" action="{{ url_for('edit_driver', driver_id=driver.id) }}">
                        {{ macros.task_questions('edit', task, categories) }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}