{% extends "std_template.html" %}


{% block standard_title %}DATA ENTRY{% endblock %}

    {% block standard_content %}
        <div class="data-entry-menu-container valign-wrapper">
            <div class="row center-align">
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('add_driver', item_id=0, tab='entry') }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon">person_add</i>
                            <h3 class="data-entry-title">Add Driver</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('add_day', item_id=0, tab='entry') }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon">restore</i>
                            <h3 class="data-entry-title">Add Day End</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('add_truck', item_id=0, tab='entry') }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon">local_shipping</i>
                            <h3 class="data-entry-title">Add Truck</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('add_job', item_id=0, tab='entry', user_confirm=False) }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon">playlist_add</i>
                            <h3 class="data-entry-title">Add Job</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('add_payslip', item_id=0, tab='entry') }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon">attach_money</i>
                            <h3 class="data-entry-title">Add Payslip</h3>
                        </div>
                    </a>
                </div>
                <div class="col s12 xl6 data-entry-button-container">
                    <a href="{{ url_for('add_fuel', item_id=0, tab='entry') }}">
                        <div class="main-button btn">
                            <i class="large material-icons data-entry-icon">local_gas_station</i>
                            <h3 class="data-entry-title">Add Fuel</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block data_entry %}active{% endblock %}
