{% extends "base.html" %}

{% block header %}
    <a href="{{ url_for('home') }}">
        <div class="col s1 offset-m2 right-align">
            <i class="small material-icons back-arrow">arrow_back</i>
        </div>
    </a>
    <div class="col s10 m6 heading-container">
        <h1>{% block entry_title %}{% endblock %}</h1>
    </div>
{% endblock %}

{% block main %}

<!-- error messages -->
    {% set err_msg = get_flashed_messages(category_filter=["error-msg"]) %}
    {% set scc_msg = get_flashed_messages(category_filter=["success-msg"]) %}
    {% with messages = err_msg if err_msg else scc_msg %}
        {% if messages %}
            <div class="messages-container {{'err-msg' if (err_msg) else 'scc-msg'}}">
                {% for message in messages %}                    
                    <ul>
                        <li> {{ message }}</li>
                    </ul>
                {% endfor %}
            </div>    
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3 hide-on-large-only content-container">
            <ul class="tabs z-depth-1 hide-tabs" id="sub-menu-tabs">
                <li class="tab col s2 "><a class="{{ 'active' if (tab == 'entry') else '' }}" href="#entry_form">Entry</a></li>
                <li class="tab col s2 "><a class="{{ 'active' if (tab == 'history') else '' }}" href="#entry_history">History</a></li>
            </ul>
        </div>
        
        <div class="col s12 l6 entry-form content-container {{ 'active' if (tab == 'entry') else '' }}" id="entry_form">
            <h4>{% block entry_form_title %}{% endblock %}</h4>
                {% block entry_form %}
                {% endblock %}
        </div>
        
        <div class="col s12 l6 entry-history content-container {{ 'active' if (tab == 'history') else '' }}" id="entry_history">
            <h4>{% block entry_history_title %}Test history{% endblock %}</h4>
            {% block entry_history %}
            {% endblock %}
        </div>
    </div>

    <!-- triggers edit-modal if invalid form submission -->
    {% set id = driver_id if driver_id is defined else day_id %}
    {% if id > 0 %}
        <div class="open-edit-modal">modal_edit_{{id}}</div>
    {% endif %}    
    
        


{% endblock %}
