{% macro driver_questions(type, driver) %}
    <!-- start_date -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->
            <input id="start_date" name="start_date"  type="text"
                class="datepicker validate" required {% if driver is defined %} value="{{ driver.start_date.strftime('%d, %B, %Y') }}" {% endif %}>
            <label for="start_date">Start date:</label>
        </div>
    </div>

    <!-- first name -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="first_name" name="first_name" {% if driver is defined %} value="{{ driver.first_name }}" {% endif %}  minlength="1" maxlength="25"
                type="text" class="validate" required>
            <label for="first_name">First name:</label>
        </div>
    </div>
    
    <!-- second name -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="second_name" name="second_name" {% if driver is defined %} value="{{ driver.second_name }}" {% endif %}  minlength="1" maxlength="25"
                type="text" class="validate" required>
            <label for="second_name">Second name:</label>
        </div>
    </div>

    <!-- base wage -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="base_wage" name="base_wage" {% if driver is defined %} value="{{ driver.base_wage }}" {% endif %}  min="0" max="1000" step = "0.01"
                type="number" class="validate" required>
            <label for="base_wage">Base wage (£):</label>
        </div>
    </div>

    <!-- bonus percentage -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="bonus_percentage" name="bonus_percentage" {% if driver is defined %} value="{{ driver.bonus_percentage }}" {% endif %}  min="0" max="50" step="0.01"
                type="number" class="validate" required>
            <label for="bonus_percentage">Bonus percentage (%):</label>
        </div>
    </div>

    <!-- submit button -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large submit">
                {{ type }} Driver <i class="fas fa-edit right"></i>
            </button>
        </div>
    </div>
{% endmacro %}







{% macro day_end_questions(type, day, drivers) %}

    <!-- driver -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->  
            <select name="driver_id" id="driver_id" class="validate" required>
                {% if day is defined %}
                    {% for driver in drivers %}
                        {% if day.driver == driver %}
                            <option value="{{ driver.id }}" selected>{{ driver.name() }}</option>
                        {% else %}
                            <option value="{{ driver.id }}">{{ driver.name() }}</option>
                        {% endif %}
                    {% endfor %}        
                {% else %}
                    <option value="" disabled selected>Choose driver</option>
                    {% for driver in drivers %}
                            <option value="{{ driver.id }}" >{{ driver.name() }}</option>
                    {% endfor %}   
                {% endif %}
            </select>
            <label for="driver_id">Select Driver:</label>
        </div>
    </div>

    <!-- date -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i> -->
            <input id="date" name="date"  type="text"
                class="datepicker validate" required {% if day is defined %} value="{{ day.date.strftime('%d, %B, %Y') }}" {% endif %}>
            <label for="date">Date:</label>
        </div>
    </div>

    <!-- earned -->
    <div class="row">
        <div class="input-field col s12">
            <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
            <input id="earned" name="earned" {% if day is defined %} value="{{ day.earned }}" {% endif %}  min="0" max="1000" step="0.01"
                type="number" class="validate" required>
            <label for="earned">Earned (£):</label>
        </div>
    </div>

    <!-- overnight -->
    <div class="row">
        <div class="input-field col s12">
            <div class="switch">
                <!-- <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i> -->
                    {% if day is defined %}
                        <label for="overnight_{{ type }}_{{ day.id }}">
                            {% if day.overnight == True %}
                            <input id="overnight_{{ type }}_{{ day.id }}" name="overnight" type="checkbox" checked>
                            {% else %}
                            <input id="overnight_{{ type }}_{{ day.id }}" name="overnight" type="checkbox">
                            {% endif %}
                            <span class="lever"></span>
                            Overnight
                        </label>
                    {% else %}
                        <label for="overnight_{{ type }}">
                            <input id="overnight_{{ type }}" name="overnight" type="checkbox">
                            <span class="lever"></span>
                            Overnight
                        </label>
                    {% endif %}
            </div>
        </div>
    </div>

    <!-- submit button -->
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large submit">
                {{ type }} Day end entry <i class="fas fa-edit right"></i>
            </button>
        </div>
    </div>
{% endmacro %}